.div-admission{
    width: 95%;
    background-color: #43337B;
    border-radius: 10px;
    margin: auto;
    h1{
        padding: 20px;
        font-size: 45px;
        color: white;
    }
    .key{
        color: white;
        font-size: 20px;
    }
    .val{
        color: white;
        font-size: 25px;
    }
    div{
        padding-left: 20px;
    }
    hr{
        color:#FFFFFF;
        border-top: 1px;
    }
}