.footer-one{
    h1{
        color:#000000;
        width:95%;
        margin: auto;
        font-weight:bolder;
        padding: 5pt 15pt 5pt 15pt;
    }
    h2{
        color:#000000;
        width:95%;
        margin: auto;
        font-weight:bolder;
        padding: 5pt 15pt 5pt 15pt;
    }
    .footer-two{
        width:95%;
        margin: auto;
        background-color: #F5F5F5;
        padding: 5pt 15pt 5pt 15pt;
    }
    .footer-three{
        width:95%;
        margin: auto;
        background-color: #FAFAFA;
        padding: 5pt 15pt 5pt 15pt;
    }
    #button{
        float: right;
      }
    
      
}