.div-achievement{
    h1{
        color:#0000FF;
        font-weight:bolder;
        padding-left: 10px;
    }
    .achievementContainer{
        width:95%;
        margin: auto;
        div:nth-of-type(odd) {
            background-color: #F5F5F5;
            padding: 5pt 15pt 5pt 15pt;
        }
        div:nth-of-type(even) {
            background-color: #FAFAFA;
            padding: 5pt 15pt 5pt 15pt;
        }
    }
}