.div-alumni{
    background-color: #2B196A;
    h1{
        color: white;
        font-size: 35px;
        padding:20px;
    }
    .alumni{
        width: 90%;
        margin: auto;
        padding-bottom: 30pt;
    }
    .alumniName{
        display: flex;
        p{
            color: white;
            font-size: 20pt;
            padding-left: 10%;
        }
    }
    .alumniDesc{
        box-shadow: 0px 9pt 33pt 5pt #fff1;
        p{
            color: white;
            font-size: 14pt;
            padding:15pt;
        }
    }

}